<ion-view view-title="Text Area Scroll Bug" class="background">
    <ion-content>
        <ion-list>
            <ion-item>
                Go to textarea and enter data:<br/>

                First Name
                <label class="item item-input">
                    <input class="test-contact-input" type="text" ng-model="contact.fn">
                </label>

                Last Name
                <label class="item item-input">
                    <input class="test-contact-input" type="text" ng-model="contact.ln">
                </label>

                Company
                <label class="item item-input">
                    <input class="test-contact-input" type="text" ng-model="contact.co">
                </label>

                Phone
                <label class="item item-input">
                    <input class="test-contact-input" type="text" ng-model="contact.ph">
                </label>

                Email
                <label class="item item-input">
                    <input class="test-contact-input" type="text" ng-model="contact.em">
                </label>

                Address
                <label class="item item-input">
                    <input class="test-contact-input" type="text" ng-model="contact.ad">
                </label>
                <label class="item item-input">
                    <input class="test-contact-input" type="text" ng-model="contact.a2">
                </label>

                City
                <label class="item item-input">
                    <input class="test-contact-input" type="text" ng-model="contact.ci">
                </label>

                State
                <label class="item item-input">
                    <input class="test-contact-input" type="text" ng-model="contact.st">
                </label>

                Zip
                <label class="item item-input">
                    <input class="test-contact-input" type="text" ng-model="contact.zi">
                </label>

                Country
                <label class="item item-input">
                    <input class="test-contact-input" type="text" ng-model="contact.na">
                </label>

                Notes
                <label class="item item-input">

                    <textarea rows="10" class="test-contact-input" ng-model="contact.no"
                              id="notes" wrap="hard" maxlength="2048"></textarea>
                </label>


            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
